@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "stellarbold";
  src: url("fonts/stellar-bold-webfont.woff2") format("woff2"),
    url("fonts/stellar-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stellarlight";
  src: url("fonts/stellar-light-webfont.woff2") format("woff2"),
    url("fonts/stellar-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stellarmedium";
  src: url("fonts/stellar-medium-webfont.woff2") format("woff2"),
    url("fonts/stellar-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stellarregular";
  src: url("fonts/stellar-regular-webfont.woff2") format("woff2"),
    url("fonts/stellar-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #031010;
  font-family: "stellarregular";
}

/* Remove the default styling from the input and textarea elements */
textarea:focus,
input:focus {
  outline: none;
}

/* Remove the default arrow from the number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
